/bin/
etc/ATMSS.ATMSSEmulatorStarter.log.1.lck
etc/ATMSS.ATMSSEmulatorStarter.log.2
etc/ATMSS.ATMSSEmulatorStarter.log.2.lck
etc/ATMSS.ATMSSEmulatorStarter.log.3
etc/ATMSS.ATMSSEmulatorStarter.log.3.lck
/.DS_Store
